body {
    background-color: rgb(68, 45, 68);
}

h1 {
    color:rgb(226, 43, 43);
    text-align: ;
    text-align: center;
}
p {
    color:rgb(53, 44, 44);
    text-align: center;
    text-shadow: 5px 5px 5px 0;

}